/**
 * PANYA - Main CSS Entry Point
 * Imports all modular CSS files in order
 * 
 * Use this file OR the consolidated style.css - not both
 */

/* Base Styles */
@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/typography.css";

/* Components */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/navbar.css";

/* Sections */
@import "./sections/hero.css";
@import "./sections/features.css";
@import "./sections/pricing.css";
@import "./sections/faq.css";
@import "./sections/contact.css";
@import "./sections/footer.css";

/* Utilities */
@import "./utilities/animations.css";
@import "./utilities/responsive.css";
