/**
 * PANYA - Main CSS Entry Point
 * Imports all modular CSS files in order
 * 
 * This is the modular version - individual files for easier maintenance
 */

/* ============================================
   BASE LAYER
   ============================================ */
@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/typography.css";

/* ============================================
   COMPONENTS
   ============================================ */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/navbar.css";
@import "./components/toggles.css";

/* ============================================
   SECTIONS
   ============================================ */
@import "./sections/hero.css";
@import "./sections/problem.css";
@import "./sections/features.css";
@import "./sections/how-it-works.css";
@import "./sections/prototype.css";
@import "./sections/results.css";
@import "./sections/pricing.css";
@import "./sections/faq.css";
@import "./sections/contact.css";
@import "./sections/footer.css";

/* ============================================
   UTILITIES
   ============================================ */
@import "./utilities/utilities.css";
@import "./utilities/animations.css";
@import "./utilities/responsive.css";
